In [5]:
print("My name is Alex")

My name is Alex

In [6]:
import pandas as pd

In [7]:
data = pd.read_excel('data.xlsx', sheet_name='Sheet1')

FileNotFoundError: [Errno 2] No such file or directory: 'data.xlsx'

In [ ]:
a = 5
type (a)

In [ ]:
a = 5
b =10

In [ ]:
a = 5
b = 3

addition_result = a + b  # 5 + 3 = 8
subtraction_result = a - b  # 5 - 3 = 2
multiplication_result = a * b  # 5 * 3 = 15
division_result = a / b  # 5 / 3 â‰ˆ 1.6667 (Note: In Python 3, this division results in a float)

In [ ]:
a + b

In [ ]:
b//a

In [ ]:
a//b

In [ ]:
a/b

In [ ]:
d = 1.66
type(d)

In [ ]:
import numpy as np
a = { x for x in range(0,10)}
print(a)

In [ ]:
import numpy as np
a = { x for x in range(0,10)}
print(a)

In [ ]:
type(a)

In [ ]:
names = {"Names" : ['Baricho', 'Bomet', 'Chuka', 'Nakuru', 'Meru', 'Karatina'], "CCR" :['100', '500', '50', '2000', '750', '10']}

In [ ]:
names.keys()

In [ ]:
names = {"Names" : ['Baricho', 'Bomet', 'Chuka', 'Nakuru', 'Meru', 'Karatina'], "CCR" :['100', '500', '50', '2000', '750', '10'], "Backlog" :['50','120', '-10', '80', '0', '20']}
names.keys()

dict_keys(['Names', 'CCR', 'Backlog'])

In [ ]:
Name = "My Name is Alex"
Height = "170 cm"
print(Name, Height)

My Name is Alex 170 cm

In [ ]:
# variable a to store  Value 5
a = 5
# variable b to store  Value 10
b = 10
a + b
print(sum)

<built-in function sum>

In [ ]:
# variable a to store  Value 5
a = 5
# variable b to store  Value 10
b = 10
# variable  to store  sum of 5 and 10
a + b
print(sum)

<built-in function sum>

In [ ]:
# variable a to store  value 5
a = 5
# variable b to store  value 10
b = 10
# variable  to store  sum of 5 and 10
sum =a + b
print(sum)

15

In [ ]:
# variable to store first_name
first_name ="Alex"
# variable to store sir_name
sir_name = "Njeru"
# variable to store middle_name
middle_name = "karuoya"
print(first_name, sir_name, middle_name)

Alex Njeru karuoya

In [ ]:
# manipulating text
print(sir_name.upper())

NJERU

In [ ]:
# manipulating text
print(first_name.upper(), sir_name.upper(), middle_name.upper())

ALEX NJERU KARUOYA

In [ ]:
# manipulating text
print(first_name.upper(), sir_name.upper(), middle_name.upper())
# manipulating text
print(first_name.lower(), sir_name.lower(), middle_name.lower())

ALEX NJERU KARUOYA
alex njeru karuoya

In [ ]:
difference = b-a
# variable to store difference between 10 - 5
# remember 10 and 5 were introduced above
print(difference)

5

In [ ]:
# printing letter in first-name
print(first_name[0])
print(first_name[1])
print(first_name[2])

A
l
e

In [ ]:
# variable called first_name
#loop demostration
for letter in first_name:
    print(letter)

A
l
e
x

In [ ]:
# creating an error intentionally
print(third_name)

NameError: name 'third_name' is not defined

In [ ]:
# creating an error intentionally
print(First_Mame)

NameError: name 'First_Mame' is not defined

In [ ]:

Court ="Baricho"
Court_level = "Magistrate"
County = "Kirinyaga"
print(Court, Court_level, County)

Baricho Magistrate Kirinyaga

In [ ]:
print(Court.upper(), Court_level.upper(), County.upper())

BARICHO MAGISTRATE KIRINYAGA

In [ ]:
print(Court[0])
print(Court[1])
print(Court[2])

B
a
r

In [ ]:
for letter in Court:
    print(letter)

B
a
r
i
c
h
o

In [ ]:
alex = "Tall"
print(alex)

Tall

In [ ]:
# strings
type(first_name)

str

In [ ]:
# boolean
type(True)

bool

In [ ]:
type(a)

int

In [ ]:
type(b)

int

In [ ]:
school ='Moringa'
lesson ='Data Science'

In [ ]:
Court ='Karatina'
County ='Nyeri'

In [ ]:
Computer = "Ng'ethe"
print(Computer)

Ng'ethe

In [ ]:
print(lesson.title())

Data Science

In [ ]:
print(Computer.lower())

ng'ethe

In [ ]:
print(Computer,lesson.upper())

Ng'ethe DATA SCIENCE

In [ ]:
first_name = "Alex"
sir_name = "Njeru"
# fstring python formating the string
full_name = f"{first_name} {sir_name}"
print(full_name)

Alex Njeru

In [ ]:
Court ="Baricho"
Court_level = "Magistrate"
County = "Kirinyaga"
magistrates_name = f"{Court} {Court_level}"
print(magistrates_name)

Baricho Magistrate

In [ ]:
sentence = f"My name is {first_name}. Am from Nyeri and Kirinyaga County"
print(sentence)
# f strings

My name is Alex. Am from Nyeri and Kirinyaga County

In [ ]:
sentence_2 ="{} {} am from a Tea Coffee and dairy farming zone".format(first_name, sir_name)
print(sentence_2)

Alex Njeru am from a Tea Coffee and dairy farming zone

In [ ]:
sentence_3 = first_name + " " + sir_name + "."
print(sentence_3)

Alex Njeru.

In [ ]:
sentence_4 =f"There is a court in my region called {magistrates_name}"
print(sentence_4)

There is a court in my region called Baricho Magistrate

In [ ]:
new_line = f"{first_name} \n {sir_name}"
print(new_line)

Alex
 Njeru

In [ ]:
new_line = f"{first_name} \t {sir_name}"
print(new_line)

Alex 	 Njeru

In [ ]:
new_line = f"{first_name} \n {sir_name} \t {middle_name}"
print(new_line)

Alex
 Njeru 	 karuoya

In [ ]:
Tea_Factory = "Ndima "
Coffee_Factory = " Kiangai"
Dairy_Factory =" Mathia "
#strips

print(Tea_Factory.rstrip(), Coffee_Factory.lstrip(),Dairy_Factory.strip())

Ndima Kiangai Mathia

In [ ]:
Tea_Factory = "Ndima "
Coffee_Factory = " Kiangai"
Dairy_Factory =" Mathia "
print(Tea_Factory,Coffee_Factory,Dairy_Factory)

Ndima   Kiangai  Mathia

In [ ]:
name ="Eric"
print(name)

Eric

In [ ]:
sentence = f"Hello {name},would you like to learn some Python today?"
print(sentence)

Hello Eric,would you like to learn some Python today?

In [2]:
name ="Karuoya"
second_name ="Njeru"
third_name ="Alex"
print(name, second_name, third_name)

Karuoya Njeru Alex

In [3]:
name = "Karuoya"
second_name = "Njeru"
third_name = "Alex"

sentence8 = "Hello {} {} {}, would you like to learn some Python today?".format(name, second_name, third_name)
print(sentence8)

Hello Karuoya Njeru Alex, would you like to learn some Python today?

In [4]:
Full_names =f"{name} {third_name} {second_name}"
print(Full_names)
print(Full_names.title())
print(Full_names.upper())
print(Full_names.lower())

Karuoya Alex Njeru
Karuoya Alex Njeru
KARUOYA ALEX NJERU
karuoya alex njeru

In [ ]:
print(Full_names.title())

Karuoya Alex Njeru

In [ ]:
print(Full_names.upper())

KARUOYA ALEX NJERU

In [ ]:
print(Full_names.lower())

karuoya alex njeru

In [ ]:
author ="Aesop"
print(author)

Aesop

In [ ]:
print('"No act of kindness, no matter how small, is ever wasted"')
Quote ='"No act of kindness, no matter how small, is ever wasted"'
print(Quote)

"No act of kindness, no matter how small, is ever wasted"
"No act of kindness, no matter how small, is ever wasted"

In [ ]:
sentence6 =f"{author}, once said, {Quote}"
print(sentence6)

Aesop, once said, "No act of kindness, no matter how small, is ever wasted"

In [5]:
print("the dataset has\n \t * 25 rows\n \t * 2 columns")

the dataset has
 	 * 25 rows
 	 * 2 columns

In [ ]:
print("The following members have contributed fully\n 1 ALex\n 2 Jane\n 3 Peter")

The following members have contributed fully
 1 ALex
 2 Jane
 3 Peter