In [4]:
def students():
    student_list = []
    student_list.append("Alex")
    student_list.append("John")
    student_list.append("Carol")
    return student_list

wanafunzi= students()  # You need to call the function using parentheses
print(wanafunzi)

['Alex', 'John', 'Carol']

In [5]:
def subjects():
    subject = ["Eng", "Kisw", "Math", "CRE", "GHC"]
    return subject

Subjects= subjects()
print(Subjects)

['Eng', 'Kisw', 'Math', 'CRE', 'GHC']

In [6]:
def get_grades():
    #count = 5
    student_scores =[]
    subjects = ["Eng", "Kisw", "Math", "CRE", "GHC"]
    # while (count< = 5)
    for subject in subjects:
        score = input(f"enter {subject} score: \n")
        student_scores.append(score)
    return student_scores
get_grades()

['76', '34', '34', '54', '23']

In [7]:
def student_name():
    name =  input("student_name e.g Jane: \n")
    return name
student_name()

'John'

In [8]:
# getting individual score
def get_scores():
    student_scores = []
    subjects = ["Eng", "Kisw", "Math", "CRE", "GHC"]

    for subject in subjects:
        score = int(input(f"Enter {subject} score: "))
        student_scores.append(score)

    return student_scores

get_scores()

[23, 87, 90, 43, 23]

In [9]:
# get the total score
def student_total():

    student_scores = get_scores ()
    total = sum(student_scores)
    return total

student_total()

355

In [10]:
def student_perf ():
    students = student_name()
    student_score = get_scores()
    student_grade = []
    # loop through the grade
    for score in student_score:
        if (score >= 80) and (score <= 100):
            grade = "A"
            student_grade.append(grade)
        elif (score >=70) and (score<80):
            grade = "B"
            student_grade.append(grade)
        elif (score >=60) and (score<70):
            grade = "C"
            student_grade.append(grade)
        elif (score >=50) and (score<60):
            grade = "D"
            student_grade.append(grade)
        elif (score <50) and (score>=0):
            grade = "D"
            student_grade.append(grade)
        else:
            print("invalid grade")
            student_grade.append(none)
            
    total = sum(student_score)
    
    return(students, student_score, student_grade, total)


student_perf()

('Jane', [23, 56, 43, 89, 54], ['D', 'D', 'D', 'A', 'D'], 265)

In [13]:
# Adding more Students Perfomance
student_number = 0
Class_performance ={
    "Name": [],
    "Eng": [],
    "Eng_grade": [],
    "Kisw": [],
    "Kisw_grade": [],
    "Math": [],
    "Math_grade": [],
    "CRE": [],
    "CRE_grade": [],
    "GHC": [],
    "GHC_grade": [],
    "total": []
}


while student_number <= 3:
    indiv_student = student_perf()
    indiv_student = list(indiv_student)
    Class_performance["Name"].append(indiv_student[0]) # First name in the indiv perf list
    Class_performance["Eng"].append(indiv_student[1][0]) # First subject
    Class_performance["Eng_grade"].append(indiv_student[2][0])
    Class_performance["Kisw"].append(indiv_student[1][1])
    Class_performance["Kisw_grade"].append(indiv_student[2][1])
    Class_performance["Math"].append(indiv_student[1][2])
    Class_performance["Math_grade"].append(indiv_student[2][2])
    Class_performance["CRE"].append(indiv_student[1][3])
    Class_performance["CRE_grade"].append(indiv_student[2][3])
    Class_performance["GHC"].append(indiv_student[1][4])
    Class_performance["GHC_grade"].append(indiv_student[2][4])
    Class_performance["total"].append(indiv_student[3])                                       
    student_number += 1
    print(Class_performance)

{'Name': ['Alex'], 'Eng': [45], 'Eng_grade': ['D'], 'Kisw': [34], 'Kisw_grade': ['D'], 'Math': [90], 'Math_grade': ['A'], 'CRE': [100], 'CRE_grade': ['A'], 'GHC': [45], 'GHC_grade': ['D'], 'total': [314]}
{'Name': ['Alex', 'Jane'], 'Eng': [45, 100], 'Eng_grade': ['D', 'A'], 'Kisw': [34, 45], 'Kisw_grade': ['D', 'D'], 'Math': [90, 34], 'Math_grade': ['A', 'D'], 'CRE': [100, 89], 'CRE_grade': ['A', 'A'], 'GHC': [45, 23], 'GHC_grade': ['D', 'D'], 'total': [314, 291]}
{'Name': ['Alex', 'Jane', 'Bob'], 'Eng': [45, 100, 23], 'Eng_grade': ['D', 'A', 'D'], 'Kisw': [34, 45, 45], 'Kisw_grade': ['D', 'D', 'D'], 'Math': [90, 34, 67], 'Math_grade': ['A', 'D', 'C'], 'CRE': [100, 89, 34], 'CRE_grade': ['A', 'A', 'D'], 'GHC': [45, 23, 43], 'GHC_grade': ['D', 'D', 'D'], 'total': [314, 291, 212]}
{'Name': ['Alex', 'Jane', 'Bob', 'Vic'], 'Eng': [45, 100, 23, 89], 'Eng_grade': ['D', 'A', 'D', 'A'], 'Kisw': [34, 45, 45, 23], 'Kisw_grade': ['D', 'D', 'D', 'D'], 'Math': [90, 34, 67, 27], 'Math_grade': ['A', 'D', 'C', 'D'], 'CRE': [100, 89, 34, 87], 'CRE_grade': ['A', 'A', 'D', 'A'], 'GHC': [45, 23, 43, 56], 'GHC_grade': ['D', 'D', 'D', 'D'], 'total': [314, 291, 212, 282]}

In [14]:
import pandas as pd
df = pd.DataFrame(Class_performance)
df

,Name,Eng,Eng_grade,Kisw,Kisw_grade,Math,Math_grade,CRE,CRE_grade,GHC,GHC_grade,total
0,Alex,45,D,34,D,90,A,100,A,45,D,314
1,Jane,100,A,45,D,34,D,89,A,23,D,291
2,Bob,23,D,45,D,67,C,34,D,43,D,212
3,Vic,89,A,23,D,27,D,87,A,56,D,282